<nb-layout>
   <nb-layout-header fixed>
      <nb-actions size="medium">
         <nb-action (click)="goHome();"
                    icon="home-outline"></nb-action>
      </nb-actions>
      Agenda list
   </nb-layout-header>
   <nb-layout-column class="colored-column-basic">
      <nb-card>
         <nb-card-header>Contacts: {{ contacts?.length ? contacts?.length : 0 }}
         </nb-card-header>
         <nb-card-body>
            <table>
               <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Organization</th>
                  <th>Phone</th>
               </tr>
               <ng-container *ngFor="let product of contacts">
                  <tr>
                     <td>
                        <p>{{product.firstName}}</p>
                     </td>
                     <td>
                        <p>{{product.lastName}}</p>
                     </td>
                     <td>
                        <p>{{product.organization}}</p>
                     </td>
                     <td>
                        <p>{{product.phone}}</p>
                     </td>
                     <td>
                        <button nbButton
                                (click)="removeContact(product.phone)"
                                status="danger">Remove Contact</button>
                     </td>
                  </tr>
               </ng-container>
            </table>
            <button nbButton
                    [disabled]="contacts?.length === 0"
                    (click)="updateAgenda()">Save contacts</button>
         </nb-card-body>
      </nb-card>
   </nb-layout-column>
</nb-layout>